@page
@using Event_Applikation.Pages.BrugerLogin
@model Event_Applikation.Pages.Events.AllModel
@{
}

<h1>Oversigt over alle Events</h1> 
<a class="btn btn-primary btn-sm mb-3" title="Kalender" asp-page="Kalender">Se som kalender</a>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				Titel
			</th>
			<th>
				Kategori
			</th>
			<th>
				Lokation
			</th>
			<th>
				Dato
			</th>
			<th>
				Start tidspunkt
			</th>
			<th>
				Slut tidspunkt
			</th>
@* 			@if (LoginModel.CurrentUser != null &&
			(LoginModel.CurrentUser.Rolle.Brugertype == "Admin" ||
			LoginModel.CurrentUser.Rolle.Brugertype == "Medlem"))
			{
			<th>
				Handlinger
			</th>
			}*@
		</tr>
	</thead>
	<tbody>
		@if (Model.Data != null)
		{
			foreach (var Event in Model.Data)
			{
				<tr>
					<td>
						<a asp-page="Detaljer" asp-route-id="@Event.Id" class="text-primary"><b>@Event.Titel</b></a>
					</td>
					<td>
						@Event.Kategori.Type
					</td>
					<td>
						@Event.Lokation
					</td>
					<td>
						@Event.Dato
					</td>
					<td>
						@Event.Starttid.ToString("HH:mm")
					</td>
					<td>
						@Event.Sluttid.ToString("HH:mm")
					</td>
@* 						@{
							// Kontroller om man må kunne se knappen til at "Slette Event".
							if (LoginModel.CurrentUser != null &&
							(LoginModel.CurrentUser.Rolle.Brugertype == "Admin" ||
							LoginModel.CurrentUser.Rolle.Brugertype == "Medlem"))
							{
						<td>
							<form method="post" asp-page-handler="Delete" asp-route-caseId="@Event.Id" style="display:inline;">
							<button type="submit" class="btn btn-danger btn-sm" title="Slet">Slet</button>
							</form>
						</td>
							}
						} *@
				</tr>
			}
		}
	</tbody>
</table>