@page "{id:int}"
@using Event_Applikation.Models
@using Event_Applikation.Pages.BrugerLogin
@model Event_Applikation.Pages.Events.DetaljerModel
@{
}

@if (Model.Event != null)
{
	<div>
		<h1>@Model.Event.Titel</h1>
		<p><b>Beskrivelse:</b> @Model.Event.Beskrivelse</p>
		<p><b>Dato:</b> @Model.Event.Dato.ToString("dd-MM-yyyy")</p>
		<p><b>Tidspunkt: kl.</b> @Model.Event.Starttid - @Model.Event.Sluttid</p>
		<p><b>Lokation:</b> @Model.Event.Lokation</p>

		@* Hvis Max Deltager ikke er blankt, vises antal tilmelde- og max deltagere *@
		@if (Model.Event?.MaxDeltager != null)
		{
			<p>
				<b>Tilmeldinger:</b>
				@(Model.AntalTilmeldte + " / " + Model.Event.MaxDeltager)
			</p>

		}

        <button type="submit" class="btn btn-primary btn-sm" onclick="history.back()">Gå Tilbage</button>

		@* Kontrollere at man er loggit ind før man kan se "Tilmeld Event" knappen *@
		@if (Model.Event?.MaxDeltager != null && LoginModel.CurrentUser != null)
		{
			<form method="post" asp-page-handler="Tilmelding" asp-route-id="@Model.Event.Id" style="display:inline;">
				<button type="submit" class="btn btn-primary btn-sm" title="Tilmelding">Tilmeld Eventet</button>
			</form>
		}

		@{
			// Kontroller om man må kunne se knappen til at "Slette Event".
			if (LoginModel.CurrentUser != null &&
			(LoginModel.CurrentUser.Rolle.Brugertype == "Admin" ||
			LoginModel.CurrentUser.Rolle.Brugertype == "Medlem"))
			{
				
				<form method="post" asp-page-handler="Delete" asp-route-id="@Model.Event.Id" style="display:inline;">
					<button type="submit" class="btn btn-danger btn-sm" title="Slet">Slet</button>
				</form>
				
			}
		}
    </div>
}
else
{
    <p>Event blev ikke fundet.</p>
}