@page
@model Event_Applikation.Pages.Events.KalenderModel
@{
}

<div id="kalender">
    <h1 class="title">Kalender – @Model.AktuelMåned.ToString("MMMM yyyy")</h1>

    <div class="nav-buttons">
        <a asp-page="Kalender" asp-route-måned="@Model.VisForrigeMåned().Month" asp-route-år="@Model.VisForrigeMåned().Year">Forrige</a>
        <a asp-page="Kalender" asp-route-måned="@Model.VisDenneMåned().Month" asp-route-år="@Model.VisDenneMåned().Year">Denne måned</a>
        <a asp-page="Kalender" asp-route-måned="@Model.VisNæsteMåned().Month" asp-route-år="@Model.VisNæsteMåned().Year">Næste</a>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var elem in Model.Data)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-date"> @elem.Dato.ToString("dd. MMMM yyyy")</div>
                            <div class="card-title"><a asp-page="Detaljer" asp-route-id="@elem.Id" class="text-primary"><b>@elem.Titel</b></a></div>
                            <div class="card-detail"><b>@elem.Kategori.Type</b></div>
                            <div class="card-detail"><b>Tid:</b> kl. @elem.Starttid.ToString("HH:mm") - @elem.Sluttid.ToString("HH:mm")</div>
                            <div class="card-detail"><b>Sted:</b> @elem.Lokation</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>